.container {
	width: 800px;
	margin: auto;
	/* margin: auto; centers all content inside the element */
	box-shadow: 10px 0px 25px grey;
	padding-left: 50px;
	padding-right: 50px;
}

p {
	color: #707070;
}

li {
	color: #707070;
}
header {
	text-align: center;
}
h1 {
	color: #DB0038;

}
h2 {
	color: #DB3998A3;
}
h3 {
	color: #474747;
}
.hero { 
	background-color: #f4f4f4;
	text-align: center;
	padding-bottom: 10px;
 }

 li {
 	padding-top: 5px;
 	padding-bottom: 5px;
 }

.rating span {
	color: #F4B400;
	font-size: 25px;
}

footer {
	text-align: center;
}

body {
	font-family: "Happy Monkey";
}